{% extends "HTMLapp/pages_layout.html" %}
{% load static %}
{% block title %}What Is HTML? {% endblock %}
{% block metadescription %}What Is HTML?, HTML is the standard markup language for creating Web pages that are to be displayed in a web browsers {% endblock %}
{% block metakeywords %}HTML, HTML5, HTML Tutorial{% endblock %}

{% block content %}       
                <h1 class="text-center text-info" style="border-bottom: solid gray 2px;border-top:solid gray 2px;
                margin-top:2px;font-size:20px;">What is HTML</h1>
                <hr><div class="clearfix">
                    <span class="float-left"><a class="page-link" href="/">Home</a></span>
                    <span class="float-right"><a class="page-link" href="/html/html-structure/">Next</a></span>
                </div><hr>    
               <p>HTML(Hypertext Markup Language) is the standard markup language for creating Web pages that are to be displayed in a web browser.
                  This can be a web application page or a website page.
               </p>
                <h2 class="display-4 text-success" style="font-size: 28px;">The history of HTML</h2>
                <p>HTML was first written by Tim Berners-Lee in the year 1993. He was working at CERN (Conseil Européen pour la Recherche Nucléaire; European Organization for Nuclear Research)
                   It was created for the distribution of relatively simple structured documents suitable for use by authors who were scientists or academics rather than experts in printing or other aspects of document formatting.
                    Since then HTML have been undergoing some development changes and more features have been added to it.
                    HTML describes the structure of a web page semantically.
                    The Web browsers receive HTML documents from  web server or from local storage and render the documents into multimedia web pages.
                </p>
                <h2 class="display-4 text-success" style="font-size: 28px;">Fuctions of HTML</h2>
                <ul>
                  <li>It is the standard markup language used for creating Web pages</li>
                  <li>It is used to tell the browser how to display the content</li>
                  <li>It describes the structure of a Web page</li>
                  <li>It labels pieces of content using its elements</li>
                </ul>
                <hr><div class="clearfix">
                    <span class="float-left"><a class="page-link" href="/">Home</a></span>
                    <span class="float-right"><a class="page-link" href="/html/html-structure/">Next</a></span>
                </div><hr>
            </article>
        </div>
<style>
.active1{
    background-color: green;
    color: white!important;
}
</style>
{% endblock %}
