{% extends "HTMLapp/pages_layout.html" %}
{% load static %}
{% block title %}Style Attribute in Html {% endblock %}
{% block metadescription %}How to use HTML style attribute, style attribute in html {% endblock %}
{% block metakeywords %}HTML styles, style attribute{% endblock %}

{% block content %}
<h1 class="text-center text-info" style="border-bottom: solid gray 2px;border-top:solid gray 2px;
    margin-top:2px;font-size:25px;">HTML style attribute</h1>
    <hr><div class="clearfix">
        <span class="float-left"><a class="page-link" href="/html/html-comments/">Previous</a></span>
        <span class="float-right"><a class="page-link" href="/html/html-formatting/">Next</a></span>
    </div><hr>
<p>The <code>&lt;style&gt;</code> attribute in HTML is used to add styles such as color, font-size,background-color and
    others.
    This helps to design the layout of the html code by use of CSS properties. These are shown below: </p>
<h2 style="font-size: 18px;">Text-color CSS property in HTML</h2>
<p style="color:green;">This text is displayed with a green color using the code - <code> &lt; style="color:green;" &gt;
                        This text is displayed using the code &lt; p &gt;</code>
</p>
<h2 style="font-size: 18px;">Background-color CSS property in HTML</h2>
<p style="background-color:pink;">This text is displayed with a pink background-color using the code - <code> &lt; style="background-color:pink;" &gt;
                        This text is displayed using the code &lt; p &gt;</code></p>
</p>
<h2 style="font-size: 18px;">Font-size CSS property in HTML</h2>
<p style="font-size:14px;">This text is displayed in font-size 14px using the code - <code> &lt; style="font-size:14px" &gt;
                        This text is displayed in font-size 20px using the code &lt; p &gt;</code>
</p>
<h2 style="font-size: 18px;">Text-color CSS property in HTML</h2>
<p style="font-family:verdana">This text is displayed with a font-family using the code - <code> &lt; style="font-family:verdana" &gt;
                        This text is displayed with a font-family using the code &lt; p &gt;</code>
</p>

<h3 style="font-size: 17px;">This is a an example of an HTML code with CSS properties.</h3>
<style>
    #txt {
        color: red;
    }
</style>
<textarea class="text-info jumbotro" name="text"
    style="width:100%; height:350px;border:solid lightgray 10px;padding:10px">
    <!DOCTYPE html>
    <html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <p style="color: green;">1st paragraph.</p>
        <p style="background-color: green; color:white">2nd paragraph</p>
        <p style="font-size: 20px;">3rd paragraph</p>
    </body>
    </html>
</textarea><br>
<h3 style="font-size: 18px;">Output:</h3>
<div>
    <p style="color: green;">1st paragraph.</p>
    <p style="background-color: green;color:white">2nd paragraph</p>
    <p style="font-size: 20px;">3rd paragraph</p>
</div>
<hr>
<hr><div class="clearfix">
    <span class="float-left"><a class="page-link" href="/html/html-comments/">Previous</a></span>
    <span class="float-right"><a class="page-link" href="/html/html-formatting/">Next</a></span>
</div><hr>
</article>
</div>
<style>
    .active6{
    background-color: green;
    color: white!important;
    }
</style>
{% endblock %}