{% extends "HTMLapp/pages_layout.html" %}
{% load static %}
{% block title %}What is the basic structure of HTML page? {% endblock %}
{% block metadescription %}The basic structure of HTML page, This is the basic simple structure of an HTML page and its description {% endblock %}
{% block metakeywords %}Structure of HTML, HTML Structure{% endblock %}

{% block content %}    
    <h1 class="text-center text-info" style="border-bottom: solid gray 2px;border-top:solid gray 2px;
    margin-top:2px;font-size:25px;">HTML Input Attributes</h1>
    
    




    <hr><div class="clearfix">
    <span class="float-left"><a class="page-link" href="/html/html-input-types/">Previous</a></span>
    <span class="float-right"><a class="page-link" href="/html/html-javascript/">Next</a></span>
    </div><hr> 
    </article>
    </div>
    <style>
        .active16{
        background-color: green;
        color: white!important;
        }
    </style>
{% endblock %}
