{% extends "basicpages/pages_layout.html" %}
{% load static %}
{% block title %}HTML Lists - askgooglehub {% endblock %}
{% block metadescription %}The basic structure of HTML page, This is the basic simple structure of an HTML page and its description {% endblock %}
{% block metakeywords %}Structure of HTML, HTML Structure{% endblock %}

{% block content %}    
                <h1 class="text-center text-info" style="border-bottom: solid gray 2px;border-top:solid gray 2px;
                margin-top:2px;font-size:25px;">HTML Lists </h1><br> 
               <p>HTML Lists are used to group  a set of related iteams.</p>
               <h2 style="font-size: 20px;">Types of HTML lists</h2>
               <ul>
                <li>Ordered Lists</li>
                <li>Unordered Lists</li>
                <li>Description Lists</li>
               </ul>
               <h3 class="text-success" style="font-size: 20px;">Ordered Lists</h3>
               <p>Ordered lists are numbered in numerical or alphabetical way. They are defined by the <code>&lt;ol&gt;</code> tag</p>
               <h4 style="font-size: 18px;">Ordered list style type attribute</h4>
               <ol>
                <li>type="1" - This will display a list with numbers(1,2,3,4...). <span class="font-weight-bold">This is the default list style type in ordered lists.</span></li>
                <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ol <span class="text-danger">type="1"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol type="1">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>
                <br>
                <li>type="A" - This will display a list with uppercase letters(A,B,C,D...) </li>
                <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ol <span class="text-danger">type="A"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol type="A">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>
                <br>
                <li>type="a" - This will display a list with lowercase letters(a,b,c,d...) </li>
                <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ol <span class="text-danger">type="a"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol type="a">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>
                <br>
                <li>type="I" - This will display a list with roman numbers in uppercase(I,II,III,IV...) </li>
                <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ol <span class="text-danger">type="I"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol type="I">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>
                <br>
                <li>type="i" - This will display a list with roman numbers in uppercase(i,i,i,iv...) </li>
                <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ol <span class="text-danger">type="i"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol type="i">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>
               </ol>

               <h3 class="text-success" style="font-size: 20px;">Unordered Lists</h3>
               <p>Unordered lists are defined by <code>&lt;ul&gt;</code> tag. They are marked with circle, square or disc markers. <br> 
                The marker can be changed by changing the "list-style-type" property.</p>
               <h4 style="font-size: 17px;">Types of unordered list markers</h4>
               <ol>
                   <li>Circle</li>
                   <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ul <span class="text-danger">style="list-style-type: circle;"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ul&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ul style="list-style-type: circle;">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ul>
                <br>
                <li>Disc</li>
                   <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ul <span class="text-danger">style="list-style-type: disc;"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ul&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ul style="list-style-type: disc;">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ul>
                <br>
                <li>Square</li>
                   <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary">
                    &lt;ul <span class="text-danger">style="list-style-type: square;"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ul&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ul style="list-style-type: square;">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ul>
                <br>
                <li>None</li>
                   <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary" >
                    &lt;ul <span class="text-danger">style="list-style-type: none;"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ul&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ul style="list-style-type: none;">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ul>
               </ol>

               <h3 class="text-success" style="font-size: 20px;">Control the start of Lists</h3>
               <p>You can Control the start of a list by defining the start attribute</p>
               <span>Example code</span><br>
                <div style="border: solid lightgrey 10px; padding:10px;">
                <span class="text-primary" >
                    &lt;ol <span class="text-danger">start="10"</span>&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;
                    &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                    &lt;/ol&gt;
                </span><br>
                </div>
                <span>The output</span><br>
                <ol start="10">
                    <li>Joseph</li>
                    <li>John</li>
                    <li>Biden</li>
                </ol>

                <h3 class="text-success" style="font-size: 20px;">Nested HTML Lists</h3>
                <p>Nested lists are used when we want to list a list inside a list.</p>
                <span>Example code</span><br>
                 <div style="border: solid lightgrey 10px; padding:10px;">
                 <span class="text-primary" >
                     &lt;ol&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;ul&gt;<br>
                     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                     &lt;li&gt;<span class="text-secondary">Joseph</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                     &lt;li&gt;<span class="text-secondary">John</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;ul&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;li&gt;<span class="text-secondary">Biden</span>&lt;/li&gt;<br>
                     &lt;/ol&gt;
                 </span><br>
                 </div>
                 <span>The output</span><br>
                 <ol>
                     <li>Joseph</li>
                     <li>John</li>
                     <ul>
                         <li>Doe</li>
                         <li>Elon</li>
                     </ul>
                     <li>Biden</li>
                 </ol>
                 <br>
                 <h3 class="text-success" style="font-size: 20px;">Descriptive HTML Lists</h3>
                <p>Descriptive lists are used list iteams with a description of each of them.</p>
                <span>Example code</span><br>
                 <div style="border: solid lightgrey 10px; padding:10px;">
                 <span class="text-primary" >
                     &lt;dl&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;dt&gt;<span class="text-secondary">HTML</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;dd&gt;<span class="text-secondary">Hyper Text Markup Language</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp;
                     &lt;dt&gt;<span class="text-secondary">CSS</span>&lt;/li&gt;<br>
                     &nbsp;&nbsp;&nbsp; 
                     &lt;dd&gt;<span class="text-secondary">- Cascading Style Sheets</span>&lt;/li&gt;<br>
                     &lt;/dl&gt;
                 </span><br>
                 </div>
                 <span>The output:</span><br>
                 <dl>
                    <dt>HTML</dt>
                    <dd>- Hyper Text Markup Language</dd>
                    <dt>CSS</dt>
                    <dd>- Cascading Style Sheets</dd>
                  </dl><br><hr>
               <div class="clearfix">
                <span class="float-left"><a class="page-link" href="/html/html-comments/">Previous</a></span>
                <span class="float-right"><a class="page-link" href="/html/html-formatting/">Next</a></span>
            </div>
        </article>
    </div>
        <hr>

{% endblock %}
