{% extends "basicpages/base.html" %}
{% block title %}About Web-devschool{% endblock %}
{% block index %}noindex{% endblock %}
{% block content %}
    <div>
    <h1 class="display-4" style="font-size:25px">About web-devschool</h1>
    <p>Web-devschool is an online school that was developed to help  developers  in learning programing languages for web and software 
        development.
    </p>
    </div>
    <div>
        <h2 class="display-4" style="font-size:25px">The foundation of web-devschool</h2>
        <p>Web-devschool was  founded by Francis Mugambi a software engineer/web developer to help developers across the world in solving 
            the world problems 
        </p>
    </div>
    <div>
        <h2 class="display-4" style="font-size:25px"s>Mission</h2>
        <p>To become the best web development website that helps the developers in solving the real world problems through programming.</p>
    </div>
</div>
{% endblock %}

