{% extends "basicpages/base.html" %}
{% block title %}About askgooglehub{% endblock %}

{% block content %}
    <div>
    <h1 class="display-4" style="font-size:30px">About askgooglehub</h1>
    <p>Askgooglehub is a blogging website that was created to help the people  in solving world problems that they encounter in day 
         to day life, these include technical issues, programming questions, software engineering, the development in Technology and many others.  </p>
    </div>
    <div>
        <h2 class="display-4" style="font-size:30px">The foundation of Askgooglehub</h2>
        <p>Askgooglehub was  founded by Francis Mugambi a software engineer/web developer to help the people across the world in solving 
            the world problems 
        </p>
    </div>
    <div>
        <h2 class="display-4" style="font-size:30px"s>Mission</h2>
        <p>To become the best bloging website in helping the people solve the world problems in a realistic manner.</p>
    </div>
</div>
{% endblock %}

