<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Comming Soon</title>
</head>
<style>
    body{
        background-color: gray;
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    h1{
        color: white;
    }
</style>
<body>
    <h1>COMMING SOON</h1>
</body>
</html>